---
// LeftMarqueeBanner - Large animated text moving from right to left
---

<div class="whitespace-nowrap font-display font-bold select-none animate-[marquee-left_240s_linear_infinite] text-right" style="font-size: clamp(163px, 32.6vw, 326px); background-image: url('/images/MainImage.webp'); background-size: repeat; background-position: center; background-repeat: repeat; background-clip: text; -webkit-background-clip: text; color: transparent;">
  CREATIVE • DEVELOPER • DESIGNER • PORTFOLIO • CREATIVE • DEVELOPER • DESIGNER • PORTFOLIO • CREATIVE • DEVELOPER • DESIGNER • PORTFOLIO • CREATIVE • DEVELOPER • DESIGNER • PORTFOLIO • CREATIVE • DEVELOPER • DESIGNER • PORTFOLIO • CREATIVE • DEVELOPER • DESIGNER • PORTFOLIO •
</div>